$theme-colors: (
    "info": tomato,
    "danger": teal,
    "primary": #10d7f1
);

$font-weight-normal: bold;

.root {
    background: linear-gradient(0deg, #0C79F7 30%, #88BFFE 70%);
    color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }


@import "~bootstrap/scss/bootstrap";