$theme-colors: (
    "info": tomato,
    "danger": teal,
    "primary": #10d7f1
);

$font-weight-normal: bold;

.root {
    background: linear-gradient(0deg, #0C79F7 30%, #88BFFE 70%);
    color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

.board {
  border: 4px solid darkblue !important;
	border-radius: 10px !important;
	width: 250px !important;
	height: 250px !important; 
	margin: 0 auto !important;
	display: grid !important;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr) !important;
}

.square {
  background: lightblue;
	border: 2px solid darkblue !important;
	font-size: 40px !important;
	font-weight: 800;
	cursor: pointer;
	outline: none;
}


@import "~bootstrap/scss/bootstrap";