$theme-colors: (
    "info": tomato,
    "danger": teal,
    "primary": #10d7f1
);

$font-weight-normal: bold;

.root {
    background: linear-gradient(0deg, #0C79F7 30%, #88BFFE 70%);
    color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

.board {
  border: 4px solid darkblue !important;
	border-radius: 10px !important;
	width: 400px !important;
	height: 400px !important; 
	margin: 0 auto !important;
	display: grid !important;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr) !important;
}

.square {
  background: lightblue;
	border: 2px solid darkblue !important;
	font-size: 40px !important;
	font-weight: 800;
	cursor: pointer;
	outline: none;
}

.simonblue {
  background: blue !important;
	border: 2px solid blue !important;
	font-size: 40px !important;
	font-weight: 800;
	cursor: pointer;
	outline: none;
}

.simonred {
  background: red !important;
	border: 2px solid red !important;
	font-size: 40px !important;
	font-weight: 800;
	cursor: pointer;
	outline: none;
}

.simongreen {
  background: green !important;
	border: 2px solid green !important;
	font-size: 40px !important;
	font-weight: 800;
	cursor: pointer;
	outline: none;
}

.simonyellow {
  background: yellow !important;
	border: 2px solid yellow !important;
	font-size: 40px !important;
	font-weight: 800;
	cursor: pointer;
	outline: none;
}

.simonblank {
  background: white !important;
	border: 2px solid black !important;
	font-size: 40px !important;
	font-weight: 800;
	cursor: pointer;
	outline: none;
}

.snakeframe {
	position: relative !important;
	margin: 30px auto !important;
	width: 600px !important;
	height: 600px !important;
	border: 2px solid black !important;
}

.snakedot {
	position: absolute !important;
	width: 2% !important;
	height: 2% !important;
	background-color: black !important;
	border: 1px solid rgb(0, 195, 255) !important;

}

.snakefood {
	position: absolute;
	width: 2%;
	height: 2%;
	background: red;
	border: 1px solid #fff;
	z-index: 1;
  }


@import "~bootstrap/scss/bootstrap";